<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('public/libs/bootstrap/dist/css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{ asset('public/css/practica.min.css')}}">
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="{{ asset('public/libs/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('public/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('public/js/practica.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
