/*!
* Este archivo es parte del proyecto practica
* 
* practica ========
* 
* Practicando
* 
* @copyright Copyright (c);
* 
* @filesource
* 
* Hecho con <3 por Glendy
* 
* DEPENDENCIES:
* JQUERY
* Font Awesome
* 
* 
*/
body {
  color: purple;
}
body p {
  font-size: 1em;
  color: black;
  margin-top: 2;
}
body h1 {
  font-size: 2em;
  color: blue;
}
body a {
  display: none;
}

#contedor_principal {
  outline: 1px solid red;
}

#vista {
  outline: 1px solid purple;
}
