body{
    color:purple;

        p{
            font-size: 1em;
            color: black;
            margin-top: 2;
        }
        h1{
            font-size: 2em;
            color: blue;
        }
        a{
            display: none;
        }
}

#contedor_principal{
    outline: 1px solid red;
}

#vista{
    outline: 1px solid purple;
}